
@section Styles {
    <link href="/css/catalog.css" rel="stylesheet">
}

<h2>Apartment Catalog</h2>



<div id="catalogContainer">
    <!--render catalog here-->
</div>

@section Scripts {
    <script src="/js/catalog.js"></script>
}
